<!-- search popup area -->
<div class="search-popup">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>
    <!-- content -->
    <div class="search-content">
        <div class="text-center">
            <h3 class="mb-4 mt-0">输入文章标题关键字</h3>
        </div>
        <!-- form -->
        <form class="d-flex search-form" action="{:url('cms/index')}" method="get">
            <input class="form-control me-2" name="search" type="search" placeholder="Search and press enter ..." aria-label="Search">
            <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
        </form>
    </div>
</div>
<!-- footer -->
<footer>
    <div class="container-xl">
        <div class="footer-inner">
            <div class="row d-flex align-items-center gy-4">
                <!-- copyright text -->
                <div class="col-md-4">
                    <span class="copyright">© 2021 SiamAdmin CMS Template</span>
                </div>
                <!-- go to top button -->
                <div class="col-md-4">
                    <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Back to Top</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- JAVA SCRIPTS -->
<script src="{__CMS__}/default/js/jquery.min.js"></script>
<script src="{__CMS__}/default/js/popper.min.js"></script>
<script src="{__CMS__}/default/js/bootstrap.min.js"></script>
<script src="{__CMS__}/default/js/slick.min.js"></script>
<script src="{__CMS__}/default/js/jquery.sticky-sidebar.min.js"></script>
<script src="{__CMS__}/default/js/custom.js"></script>