<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>plugs_http_monitor列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/css/public.css" media="all">
    <style>
        .wechat_cross_btn_group {
            margin-left: 15px;
        }
    </style>
</head>

<body>

<div class="layui-fluid" style="padding: 0">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">plugs_http_monitor列表</div>
                <div class="layui-btn-group wechat_cross_btn_group">
                    <button class="layui-btn layui-btn-sm" id="clear" lay-text="清空">
                        <i class="layui-icon">&#xe654;</i>一键清空
                    </button>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="lists" lay-filter="lists"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--({{ d.u_child_count }})-->
<script type="text/html" id="do">
    <a class="layui-btn layui-btn-xs" lay-event="view_response">查看响应</a>
    <a class="layui-btn layui-btn-xs" lay-event="resend">复发</a>
</script>

<script src="__ADMIN__/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="__ADMIN__/js/lay-config.js?v=2.0.4" charset="utf-8"></script>
<script>
    layui.use([ 'table', 'jquery','setter','view'], function () {
        let table = layui.table;
        let $ = layui.jquery;
        let setter = layui.setter;
        let view = layui.view;

        table.render({
            elem: '#lists'
            , url: "/index.php/plugs/http_monitor/api/get_list"
            , where: {
                access_token: layui.data(setter.tableName)[setter.request.tokenName]
            }
            , cols: [[
                {field: 'id', title: '自增ID'},
                {field: 'path', title: '请求地址'},
                {field: 'run_time', title: '执行耗时 ms'},
                {field: 'create_time', title: '请求时间'}
                , {toolbar: '#do', width: 300}
            ]]
            , page: true
            , response: {
                statusCode: 200
            }
            , parseData: function(res){
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.count,
                    "data": res.data.lists
                };
            }
        });

        //添加
        $('#add_btn').click(function (){
            let url = "/admin/page/plugs_http_monitor/action.html";
            layer.open({
                type: 2,
                title: "{:lang('add')}",
                content: url,
                area: ['70%', '90%']
            });
        });
        $("#clear").on("click", function(){
            view.req({
                url:"/index.php/plugs/http_monitor/clear",
                data:{
                },
                success(res){
                    $(".layui-laypage-btn").click();
                },
            });
        });

        // 监听工具条
        table.on('tool(lists)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event; //获得 lay-event 对应的值

            switch (layEvent) {
                case 'view_response':
                    layer.open({
                        type: 2,
                        title: "查看响应",
                        content: '/index.php/plugs/http_monitor/view_response?id='+data.id,
                        area:['70%','90%']
                    });
                    break;
                case 'resend':
                    view.req({
                        url:"/index.php/plugs/http_monitor/resend",
                        data:{
                            id:data.id
                        },
                        success(res){
                            $(".layui-laypage-btn").click();
                        },
                    });
                    break;
                default:
                    break;
            }
        });
        // 监听工具条结束
    });
</script>
</body>

</html>