<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>exceptionLogger</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__ADMIN__/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/css/public.css" media="all">

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>exceptionLogger</legend>
        </fieldset>
        <div class="layui-card-body">
            <div id="echarts-records" style="width: 100%;min-height:200px"></div>
        </div>
        <button class="layui-btn" id="del_all">清除所有记录</button>
        <button class="layui-btn" id="del_seven">清除7天前记录</button>
        <table class="layui-hide" id="list" lay-filter="list"></table>
    </div>
</div>
<script type="text/html" id="do">
    <a class="layui-btn layui-btn-xs" lay-event="check">查看</a>
</script>

<script src="__ADMIN__/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="__ADMIN__/js/lay-config.js?v=2.0.4" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>


    layui.use(['form', 'view', 'laytpl', 'table', 'echarts','setter'], function () {
        let form = layui.form
            , layer = layui.layer
            , view = layui.view
            , $ = layui.jquery
            , laytpl = layui.laytpl
            , table = layui.table
            , echarts = layui.echarts
            , setter = layui.setter；

        let get_list_url = '/plugs/exception_logger/api/get_list';

        table.render({
            elem: '#list',
            url: get_list_url,
            where: {
            access_token: layui.data(setter.tableName)[setter.request.tokenName]
            },
            cols: [[
                {field: 'id', title: 'ID'},
                {field: 'exception_class', title: '异常类名(异常类型)'},
                {field: 'exception_date', title: '异常日期'},
                {field: 'create_time', title: '创建时间'},
                {toolbar: '#do', width: 300}
            ]]
            , page: true
            , limit: 10
            , response: {
                statusCode: 200
            }
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.count,
                    "data": res.data.list
                };
            }
        });
        // 监听工具条
        table.on('tool(list)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event; //获得 lay-event 对应的值

            switch (layEvent) {
                case 'check':
                    let url = "/plugs/exception_logger/api/check_exception?id=" + data.id;
                    layer.open({
                        type: 2,
                        title: "异常还原",
                        content: url,
                        area: ['70%', '90%']
                    });
                    break;
                default:
                    break;
            }
        });
        // 监听工具条结束

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        view.req({
            url: '/plugs/exception_logger/api/echarts_data',
            type: "get",
            success: function (res) {
                var optionRecords = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: res.data.days
                    },
                    yAxis: {
                        type: 'value'

                    },
                    series: [{
                        name: '次数',
                        type: 'line',
                        data: res.data.count
                    }]
                };
                echartsRecords.setOption(optionRecords);

                // echarts 窗口缩放自适应
                window.onresize = function () {
                    echartsRecords.resize();
                }
            }
        })

        //删除
        $('#del_all').on('click', function () {
            clear('确认删除所有数据?', 1);
        });
        $('#del_seven').on('click', function () {
            clear('确认删除七天前数据?', 2)
        });

        function clear(confirm, type) {
            let url = "/plugs/exception_logger/api/delete";
            layer.confirm(confirm, {icon: 3, title: '提示'}, function (index) {
                view.req({
                    url: url,
                    data: {
                        type: type
                    },
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        if (res.code === 200) {
                            layer.msg(res.msg, {icon: 1, time: 2000}, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000}, function () {
                                window.location.reload();
                            });
                        }
                    }
                });

                layer.close(index);
            });

        }
    });


</script>

</body>
</html>